/*
Billy Bare Bones Bootstrap Starter Page - Cover Page Edition
Version 1.0
by Ashlie Elizabeth Moore 
http://DancingFraxinus.com
Copyright 2019
For Personal Use Only.
Image Credit: @anniespratt - Unsplash

*/

/*This CSS File is for overriding Bootstrap CSS or for styling your own divs & classes*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* Media */

img{}

/* Typography */

h1.display-3{
    font-weight: bold;
}

p.lead{
    font-weight: 400;
}


/* Sections */

#landing{
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1547013571-585f53927cd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-position: center;    
}

@media screen and (min-width: 800px){
.welcome{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: azure; 
}}

@media screen and (max-width: 799px){
.welcome{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure; 
}}


.welcome a{
    color: azure;
}

/* Components */

#cookies{
    font-size: .75em;    
}

span{
     font-size: .75em;      
}